@{
    ViewBag.Title = "Owner's Protected Resource";
}

<p>Choose a resource to display</p>

<li>@Html.ActionLink("Get Resource with id 1", "Resource", "Home");</li>
<li>@Html.ActionLink("Get Resource with id 2", "Resource2", "Home");</li>

@ViewBag.RetrievedResource


